*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    color: rgb(255, 255, 255);
    max-width: 200%;
    max-width: 200%;
    background:rgba(0,0,0,0.7)url('netflix3.webp');
    background-size: cover;
    background-blend-mode: darken;
    background-position:top;
    padding: 0% 10% 15% 10%;
    position: relative;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
    margin-top: 0;
}
nav button{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
}
.language{
    color: red;
    font-size: 20px;
    background: transparent;
    padding: 5px;
}
.content{
    width: 70%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.content button{
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 2%;
}
.email{
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 15px 40px;
}
h1{
    font-size: 50px;
    word-spacing: 10px;
}
h3{
    font-size: 30px;
    font-weight: 300 ;
    word-spacing: 1px;
}
h4{
    font-size: 20px;
    font-weight: 300 ;
    word-spacing: 1px; 
}
